.content{
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.settings {
    width: 45%;
    font-size: 30px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    font-weight: 300;
    margin-top: 10px;
    margin: auto 0px;
}


.picture {
    position: relative;
    width: 55%;
    align-self: center;
}

.settings_select {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;
}
.settings_select .input {
    width: 300px;
    margin-bottom: 25px;
    height: 50px;
}

.settings_select .select {
    margin-bottom: 25px;
    width: 300px;
    height: 50px;
    color: black;
}

.settings_select .btn {
    width: 300px;
}

@media (max-width: 800px) {
    .content {
        flex-direction: column-reverse;
        align-items: center;
    }

    .picture {
        width: 95%;
        padding: 0;
        padding-top: 20px;
    }

    .quiz_title {
        width: 100%;
    }
}